* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1rem 3rem;
  background-color: lightblue;
  color: navy;
  box-shadow: 0 0 10px black;
}

input {
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 1px solid black;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  height: 36px;
  text-align: center;
  outline: none;
  box-shadow: 2px 2px 5px #444444a6;
}

input:hover {
  border-color: 2px solid #9147ff;
}

input:focus {
  border: 2px solid #9147ff;
  background: #fff;
}

button {
  display: block;
  width: 100%;
  margin-top: 20px;
  border: 2px solid black;
  outline: none;
  padding: 0.7rem;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ff9b82;
  font-weight: 600;
}

button:hover {
  background: transparent;
  border: 2px solid #9147ff;
  box-shadow: 0 0 10px #9147ff;
}

button:active {
  box-shadow: 0 0 10px #9147ff inset;
}
